@media (max-width: 480px) {
    nav {
        width: 480px;
        height: 120px;
        padding-top: 25px;
        background-color: rgb(41, 190, 160);
    }

}

/* Custom CSS */

.container {
    height: 100vh;
    width: 100vw;
}

h1 {
    color: deeppink;
    text-shadow: 0 1px 2px #000;
}

h2 {
    color: palevioletred;
    text-shadow: 0 1px 2px #000;
}

h6 {
    color: rgb(27, 169, 240);
}

h5{
    color: rgb(139, 139, 139);
}



.txt {
    color: rgb(27, 169, 240);
    justify-content: center;
    display: flex;
    margin-top: 1rem;
    text-shadow: 0 1px 2px #000;
}

.mirror {
    display: inline-block;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.cen{
    margin-left: 100px;
}

.cus{
    background-color: palevioletred;
    color: white;
    border: 2px solid palevioletred;
}

.marge{
    width: 200px;
    height: 50px;
}
.fix{
    height: 45px;
    width: 360px;
    margin: 0 auto ;
}

.anime{
    border: 5px dashed deeppink; 
    padding:3px; 
    margin:5px;
    height: 350px;
    width: 350px;
}

/* Login Button change colors*/
.button {
    background-color: white;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 40px;
}

.button1 {
    background-color: palevioletred;
    color: white;
    border: 2px solid palevioletred;
}

.button1:hover {
    background-color: rgb(27, 169, 240);
    border: 2px solid rgb(27, 169, 240);
    color: white;
}



/* Dark Mode/Light Mode button  */

/* ------------ VARIABLES ------------ */
:root {
    /* COLORS */
    --color: #9176FF;
    --dark-color: #2b2b2b;
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-icon-color: #FFDE59;
}

/* ------------ BASE ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-color);
}

/* -------------- BUTTON -------------- */
.btn {
    background-color: #fff;
    width: 8em;
    height: 3em;
    border-radius: 12em;
    padding: 0 0.5em;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
        inset 0 8px 8px rgba(0, 0, 0, .1),
        inset 0 -4px 4px rgba(0, 0, 0, .1);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn__indicator {
    background-color: #fff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
    transition: transform .3s ease;
}

.btn__icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__icon {
    color: var(--light-icon-color);
    font-size: 1.5rem;
}

/* -------------- ANIMATION ------------ */
.btn__icon.animated {
    animation: spin 0.5s;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* -------------- DARKMODE -------------- */
body.darkmode {
    background-color: var(--dark-color);
}

.darkmode .btn {
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .3),
        inset 8px 0 8px rgba(0, 0, 0, .3),
        inset 0 -4px 4px rgba(0, 0, 0, .3);
}

.darkmode .btn__indicator {
    transform: translateX(5em);
    background-color: var(--dark-color);
    box-shadow: 0 8px 40px rgba(0, 0, 0, .3);
}

.darkmode .btn__icon {
    color: var(--dark-icon-color);
}


